{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Atualizar Turma</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

    <a style="background-color: #303030;color: #fff; border-radius: 25px; padding: 14px 16px; text-align: center; float: left; font-size: 17px;"> Atualizar Turma </a>
<br/><br/><br/><br/>



{% for turma in turma %}
<div class="container">

<form action="http://{{request.get_host}}/sistema/atualizar_turma" method="POST">
  {% csrf_token %}
  <input type="hidden" name='user_id' value="{{turma.id}}">
  <label>Atividade: </label>
  <input type="text" name="rotina" value="{{turma.atividade}}"/>
  <br></br>
  <label>Início: </label>
  <input type="time" name="hora_inicio_turma" value="{{turma.hora_inicio_turma}}"/>
  <br></br>
  <label>Fim: </label>
  <input type="time" name="hora_fim_turma" value="{{turma.hora_fim_turma}}"/>
  <br></br>
  <label>Data: </label>
  <input type="date" name="data_turma" value="{{turma.data_turma}}"/>
  <br></br>

  <label>Instrutor: </label>
  <input type="text" name="instrutor" value="{{turma.instrutor}}"/>
  <br></br>


  <input type="submit" value="Enviar">

</form>
    <br/>  <br></br>

{% endfor %}

</body>
</html> 