{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Atualizar Treino</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

    <a class="asessao"> Atualizar Treino </a>
<br/><br/><br/>



{% for treinos in treinos %}
<div class="container2">

<form action="http://{{request.get_host}}/sistema/atualizar_treino" method="POST">
  {% csrf_token %}
  <input type="hidden" name='user_id' value="{{treinos.id}}">
  <label>Início: </label>
  <input type="text" name="hora_inicio_treino" value="{{treinos.hora_inicio_treino}}"/>
  <br></br>
  <label>Fim: </label>
  <input type="text" name="hora_fim_treino" value="{{treinos.hora_fim_treino}}"/>
  <br></br>
  <label>Data: </label>
  <input type="text" name="data_treino" value="{{treinos.data_treino}}"/>
  <br></br>
  <label>Rotina: </label>
  <input type="text" name="rotina" value="{{treinos.rotina}}"/>
  <br></br>
  <label>Instrutor: </label>
  <input type="text" name="cod_instrutor" value="{{treinos.cod_instrutor}}"/>
  <br></br>
    <label>Aluno: </label>
  <input type="text" name="cod_aluno" value="{{treinos.cod_aluno}}"/>
  <br></br>


  <input type="submit" value="Enviar">

</form>
    <br/>  <br></br>
 </div>
{% endfor %}

    <br/>
    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>
<br/><br/><br/><br/>


</body>
</html> 
