{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Atualizar Aluno</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

    <a class="asessao"> Atualizar Dados</a>
<br/><br/><br/>


{% for alunos in alunos %}
<div class="container2">

<form action="http://{{request.get_host}}/sistema/atualizar_alunos" method="POST">
  {% csrf_token %}

  <input type="hidden" name='user_id' value="{{alunos.id}}">
  <label>Nome: </label>
  <input type="text" name="nome" value="{{alunos.nome}}"/>
  <br></br>
  <label>Sobrenome: </label>
  <input type="text" name="sobrenome" value="{{alunos.sobrenome}}"/>
  <br></br>
  <label>Gênero: </label>
  <select id="genero" name="genero">
  <option value="M">Masculino</option>
  <option value="F">Feminino</option>
  <option value="O">Outro</option>
  </select>
    <br></br>
  <label>CPF: </label>
  <input type="text" name="cpf" value="{{alunos.cpf}}"/>
  <br></br>
  <label>Telefone: </label>
  <input type="text" name="telefone" value="{{alunos.telefone}}"/>
  <br></br>
  <label>Endereço: </label>
  <input type="text" name="endereco" value="{{alunos.endereco}}"/>
  <br></br>
  <label>Bairro: </label>
  <input type="text" name="bairro" value="{{alunos.bairro}}"/>
  <br></br>
  <label>Estado: </label>
  <input type="text" name="estado" value="{{alunos.estado}}"/>
  <br></br>
  <label>Cep: </label>
  <input type="text" name="cep" value="{{alunos.cep}}"/>
  <br></br>
  <label>Altura: </label>
  <input type="text" name="altura" value="{{alunos.altura}}"/>
  <br></br>
  <label>Peso: </label>
  <input type="text" name="peso" value="{{alunos.peso}}"/>
  <br></br>
  <label>Data da matrícula: </label>
  <input type="text" value="{{alunos.data_matricula|date:"Y-m-d" }}" name="data_matricula" value="{{alunos.data_matricula}}"/>
  <br></br>
  <label>Data de nascimento: </label>
  <input type="text" value="{{alunos.data_nascimento|date:"Y-m-d" }}" name="data_nascimento" value="{{alunos.data_nascimento}}"/>
  <br></br>
  <input type="submit" value="Enviar">

</form>

<br/><br/>
 </div>
{% endfor %}

    <br/>
    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>
<br/><br/><br/><br/>


</body>
</html> 
