{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Turma</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

<a class="asessao"> Cadastro de Turma </a>
<br/><br/><br/>

<div class="container">
  <form action="cadastro_turma" method="POST">
  {% csrf_token %}

    <div class="row">
      <div class="col-25">
        <label for="hora_inicio_turma">Início</label>
      </div>
      <div class="col-75">
        <input type="time" id="hora_inicio_turma" name="hora_inicio_turma">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hora_fim_turma">Fim</label>
      </div>
      <div class="col-75">
        <input type="time" id="hora_fim_turma" name="hora_fim_turma">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="atividade">Atividade</label>
      </div>
      <div class="col-75">
        <input type="text" id="atividade" name="atividade" placeholder="Digite o nome da atividade..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="data_turma">Data</label>
      </div>
      <div class="col-75">
        <input type="date" id="data_turma" name="data_turma">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="turma.instrutor_id">Instrutor</label>
      </div>
      <div class="col-75">
        <input type="text" id="turma.instrutor_id" name="turma.instrutor_id" placeholder="Digite o nome do instrutor..">
      </div>
    </div>
 
   <br/>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>


    <br/>
    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>
</body>
</html> 