{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Treino</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>


<a class="asessao"> Cadastro de Treino </a>
<br/><br/><br/>

<div class="container">
  <form action="cadastro_treino" method="POST">
  {% csrf_token %}

    <div class="row">
      <div class="col-25">
        <label for="hora_inicio_treino">Hora Início</label>
      </div>
      <div class="col-75">
        <input type="time" id="hora_inicio_treino" name="hora_inicio_treino">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="hora_fim_treino">Hora Fim</label>
      </div>
      <div class="col-75">
        <input type="time" id="hora_fim_treino" name="hora_fim_treino">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="rotina">Rotina</label>
      </div>
      <div class="col-75">
        <input type="text" id="rotina" name="rotina" placeholder="Digite a rotina do treino..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="data_treino">Data do Treino</label>
      </div>
      <div class="col-75">
        <input type="date" id="data_treino" name="data_treino">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="cod_instrutor_id">Instrutor</label>
      </div>
      <div class="col-75">
        <input type="text" id="cod_instrutor_id" name="cod_instrutor_id" placeholder="Digite o nome do instrutor..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="cod_aluno_id">Aluno</label>
      </div>
      <div class="col-75">
        <input type="text" id="cod_aluno_id" name="cod_aluno_id" placeholder="Digite o nome do aluno..">
      </div>
    </div>
    <br/>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>


    <br/>
    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>
</body>
<br/><br/><br/>
</html> 