{% load static %}
 <!DOCTYPE html>
<html>
<head>
<title>Sistema Academia Django</title>
<link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p class="active" id="demo"></p>
</div>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

<br/><br/>

    <a class="asessao"> Alunos </a>

<br/><br/>

<br/><br/>
<table cellpadding="0" cellspacing="0">
    <tr>
        <th class="th1" >Nome</th>
        <th class="th1">Sobrenome</th>
        <th>CPF</th>
        <th>Visualizar</th>
        <th>Atualizar</th>
        <th>Deletar</th>
    </tr>
</thread>

    {% for alunos in alunos  %}

    <tr>
        <td>{{ alunos.nome }}</td>
        <td>{{ alunos.sobrenome }}</td>
        <td class="td2">{{ alunos.cpf }}</td>
        <td class="td1"><a href="visualizar_aluno/{{alunos.id}}">View</td>
        <td  class="td1"> <a href="atualizar_dados_aluno/{{alunos.id}}">Update</td>
        <td class="td1"><a href="deletar_aluno/{{alunos.id}}">Del</td>

    </tr>
</thread>
    {% endfor %}

</table>
    <br/>
    <form action="http://{{request.get_host}}/sistema/form_cadastro_aluno">
    <input type="submit" value="Cadastrar Aluno">
    </form>
<br/><br/><br/><br/>



    <a class="asessao"> Instrutores </a>
<br/><br/><br/>


<table  cellpadding="0" cellspacing="0">
<thread>
    <tr>
        <th style="width: 50%">Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Visualizar</th>
        <th>Atualizar</th>
        <th>Deletar</th>


    </tr>
</thread>

    {% for instrutor in instrutor  %}

    <tr>
        <td>{{ instrutor.nome }}</td>
        <td>{{ instrutor.sobrenome }}</td>
        <td  class="td2">{{ instrutor.cpf }}</td>
        <td  class="td1"><a href="visualizar_instrutor/{{instrutor.id}}">View</td>
        <td   class="td1"> <a href="atualizar_dados_instrutor/{{instrutor.id}}">Update</td>
        <td   class="td1"><a href="deletar_instrutor/{{instrutor.id}}">Del</td>

    </tr>
</thread>
    {% endfor %}

</table>

 
    <br/>
    <form action="http://{{request.get_host}}/sistema/form_cadastro_instrutor">
    <input type="submit" value="Cadastrar Instrutor">
    </form>
    <br/><br/><br/><br/>


    <a class="asessao"> Treinos </a>
<br/><br/><br/>

<table  cellpadding="0" cellspacing="0">
<thread>
    <tr>
        <th style="width: 50%">Início</th>
        <th>Fim</th>
        <th>Data</th>
        <th>Visualizar</th>
        <th>Atualizar</th>
        <th>Deletar</th>


    </tr>
</thread>

    {% for treinos in treinos  %}

    <tr>
        <td>{{ treinos.hora_inicio_treino }}</td>
        <td>{{ treinos.hora_fim_treino }}</td>
        <td class="td1">{{ treinos.data_treino }}</td>
        <td   class="td1"><a href="visualizar_treino/{{treinos.id}}">View</td>
        <td   class="td1"> <a href="atualizar_dados_treino/{{treinos.id}}">Update</td>
        <td   class="td1"><a href="deletar_treino/{{treinos.id}}">Del</td>

    </tr>
</thread>
    {% endfor %}

</table>

 
    <br/>
    <form action="http://{{request.get_host}}/sistema/form_cadastro_treino">
    <input type="submit" value="Cadastrar Treino">
    </form>
    <br/><br/><br/><br/>



    <a class="asessao"> Turmas </a>
<br/><br/><br/>

<table  cellpadding="0" cellspacing="0">
<thread>
    <tr>
        <th style="width: 50%">Início</th>
        <th>Fim</th>
        <th>Atividade</th>
        <th>Visualizar</th>
        <th>Atualizar</th>
        <th>Deletar</th>


    </tr>
</thread>

    {% for turmas in turmas  %}

    <tr>
        <td>{{ turmas.hora_inicio_turma }}</td>
        <td>{{ turmas.hora_fim_turma }}</td>
        <td class="td1">{{ turmas.atividade }}</td>
        <td   class="td1"><a href="visualizar_turma/{{turmas.id}}">View</td>
        <td   class="td1"> <a href="atualizar_dados_turma/{{turmas.id}}">Update</td>
        <td   class="td1"><a href="deletar_turma/{{turmas.id}}">Del</td>

    </tr>
</thread>
    {% endfor %}
</table>

     <br/>

    <form action="http://{{request.get_host}}/sistema/form_cadastro_turma">
    <input type="submit" value="Cadastrar Turma">
    </form>
    <br/><br/>    <br/><br/>


</body>
</html> 
