{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Visualizar usuários</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>


</style>
</head>
<body>
<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

    <a class="asessao"> Dados do Aluno </a>
<br/><br/><br/><br/>


{% for alunos in alunos %}
<a class="nome1"> Nome </a>
<a class="nome2"> {{alunos.nome}}  </a>
<br/><br/><br/>
<a class="nome1"> Sobrenome </a>
<a class="sobrenome"> {{alunos.sobrenome}}  </a>
<br/><br/><br/>
<a class="nome1"> CPF </a>
<a class="cpf"> {{alunos.cpf}}  </a>
<br/><br/><br/>
<a class="nome1"> Gênero </a>
<a class="genero"> {{alunos.genero}}  </a>
<br/><br/><br/>
<a class="nome1">Matrícula </a>
<a class="matricula"> {{alunos.data_matricula}}  </a>
<br/><br/><br/>
<a class="nome1">Nascimento </a>
<a class="nascimento"> {{alunos.data_nascimento}}  </a>
<br/><br/><br/>
<a class="nome1">Endereço </a>
<a class="endereco"> {{alunos.endereco}}  </a>
<br/><br/><br/>
<a class="nome1">Bairro </a>
<a class="bairro"> {{alunos.bairro}}  </a>
<br/><br/><br/>
<a class="nome1">UF </a>
<a class="estado"> {{alunos.estado}}  </a>
<br/><br/><br/>
<a class="nome1">CEP </a>
<a class="cep"> {{alunos.cep}}  </a>
<br/><br/><br/>
<a class="nome1">Peso </a>
<a class="peso"> {{alunos.peso}}kg  </a>
<br/><br/><br/>
<a class="nome1">Altura </a>
<a class="altura"> {{alunos.altura}} metros  </a>
<br/><br/><br/>

{% endfor %}
<br/>

    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>
<br/><br/><br/>

</body>
</html> 