{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Visualizar usuários</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>
h1 {
  background-color: #202020;color: #fff;margin-top:0px; margin-bottom:50px; margin-left:50px; margin-right:70px;text-align:center;
}
</style>
</head>
<body>

<h1> Visualizar Aluno </h1>

{% for alunos in alunos %}

<h3> Nome: {{alunos.nome}} </h3>
<h3> Sobrenome: {{alunos.sobrenome}} </h3>
<h3> CPF: {{alunos.cpf}} </h3>
<h3> Telefone: {{alunos.telefone}} </h3>
<hr>


{% endfor %}

    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>

</body>
</html> 