{% load static %}
 <!DOCTYPE html>
<html>
<head>
    <title>Visualizar Instrutor</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
<style>

</style>
</head>
<body>
<div class="topnav">
    <a class="active" href="http://{{request.get_host}}/sistema/inicio">Academia Django</a>
    <a href="http://{{request.get_host}}/admin" target="_blank">Admin</a>
    <a href="http://{{request.get_host}}/sistema/cadastrar_usuario">Cadastro</a>
    <a href="http://{{request.get_host}}/sistema/logar_usuario">Login</a>
<div class="c">
    <p id="demo"></p>
</div>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d.toDateString();
</script>
</div>
{% if user.is_authenticated %}
    <p class="logged-in-p">
        Olá {{ user.username }}, você está logado! 
        <span class="sair"><a href="http://{{request.get_host}}/sistema/deslogar_usuario">Sair</a></span>
    </p>
{% endif %}
<br/><br/>

    <a class="asessao"> Dados </a>
<br/><br/><br/><br/>


{% for instrutor in instrutor %}
<a class="nome1"> Titulação </a>
<a class="titulacao"> {{instrutor.titulacao}}  </a>
<br/><br/><br/>
<a class="nome1"> Nome </a>
<a class="nome2"> {{instrutor.nome}}  </a>
<br/><br/><br/>
<a class="nome1"> Sobrenome </a>
<a class="sobrenome"> {{instrutor.sobrenome}}  </a>
<br/><br/><br/>
<a class="nome1"> CPF </a>
<a class="cpf"> {{instrutor.cpf}}  </a>
<br/><br/><br/>
<a class="nome1"> Gênero </a>
<a class="genero"> {{instrutor.genero}}  </a>
<br/><br/><br/>



{% endfor %}
<br/><br/><br/>

    <form action="http://{{request.get_host}}/sistema/inicio">
    <input type="submit" value="Voltar">
    </form>

</body>
</html> 