
body {
  background: #a9bbd2 url("/static/images/Commonality.png") no-repeat;
  background-size: cover;  
  font-family: Helvetica Bold; font-size: 15px;
}

.c {
  text-align: right;
} 

blockquote {
  color:white;
  text-align:left;
  font-size: 17px;
}

.topnav {
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 10px;
    top: 0;
  }
  
  .topnav a {
    float: left;
    color: #000;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #00846a;
    color: white;
  }
  
  .topnav a.active {
    background-color: #bb5d5d;
    color: white;    
  }

  input[type=submit] {
    background-color: #cecece;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
      background-color: #00846a;
      color: #f0f0f0;
    }
  

table {
    border: 4px solid #f0f0f0;
    border-radius: 5px; 
    background-color: #f0f0f0;
    width: 50%;
    table-layout: fixed;
    border-spacing: 2; 
}

tbody {
    height: 250px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
    display: block;
}

thead
{
    display: table-row;     
    display: block;
}

th {
    width: 50%; color: #303030; background-color: #fff36f;text-align: center; 
    font-size: 15px;
    height:30px;
    padding: 10px;
    width:40%;
    left:10px;
    border: 3px solid #fff36f;
}

.th1 {
    width: 50%; color: #303030; background-color: #fff36f;text-align: left;
    font-size: 15px;
    height:30px;
    padding: 10px;
    width:40%;
    left:10px;
}

td {
    background-color: #f0f0f0; color: #282828; height:40px; padding: 13px;
}

.td1 {
    background-color: #f0f0f0; color: #282828; text-align: center;
}

.td2 {
    background-color: #f0f0f0; color: #282828; text-align: right;
}

.td3 {
    background-color: #fff36f; color: #282828; text-align: left;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.asessao {
  background-color: #fff; border-radius: 15px; padding: 14px 16px; text-align: center; float: left; font-size: 17px; opacity: 0.8;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #cecece;
  color: #202020;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
    background-color: #00846a;
  }


.nome1 {
background-color: #d4d4d4;color: #000; width: 100px; padding: 14px 16px; text-align: center; float: left; font-size: 17px;
}

.nome2 {
  background-color: #303030;color: #fff; width: 100px; max-width: 1000px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.sobrenome {
  background-color: #303030;color: #fff; width: 100px; max-width: 1000px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.cpf {
  background-color: #303030;color: #fff; width: 150px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}


.genero {
  background-color: #303030;color: #fff; width: 50px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.matricula {
  background-color: #303030;color: #fff; width: 200px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.nascimento {
  background-color: #303030;color: #fff; width: 200px; max-width: 500px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.endereco {
  background-color: #303030;color: #fff; width: 300px; max-width: 1000px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.bairro {
  background-color: #303030;color: #fff; width: 200px; max-width: 800px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.estado {
  background-color: #303030;color: #fff; width: 50px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.cep {
  background-color: #303030;color: #fff; width: 100px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.peso {
  background-color: #303030;color: #fff; width: 70px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.altura {
  background-color: #303030;color: #fff; width: 150px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.titulacao {
  background-color: #303030;color: #fff; width: 200px; max-width: 800px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.hora1 {
  background-color: #303030;color: #fff; width: 120px; max-width: 500px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}

.rotina {
  background-color: #303030;color: #fff; width: 400px; max-width: 1500px; padding: 14px 16px; text-align: left; float: left; font-size: 17px;
}
